@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body {
     background-color: #C2CFE0 ;
     font-family: 'Sanchez', serif;
}
#header {
    background-color: #6F8496;
    font-family: 'Anton', sans-serif;
    text-align: center;
}
#indice, #publicidad {
    background-color: #E3E3E3;
    border: solid 2px;
}
#footer {
    background-color: #E3E3E3;
}
#subtitulo {
    font-family: 'Kanit', sans-serif;
}